@model BookInfo.WebUI.Models.FrontPageViewModel
@{
    //Layout = "~/Views/_GeneralLayout.cshtml";
    ViewBag.Title = "Home Page";
}

<p>Welcome to the BookInfo demo! <br>
There are @Model.Stats.Authors authors and @Model.Stats.Titles books in our database.<br />
Book of the day: @Model.TheBook.Title</p>

<p>
Use this link to test the ShowBook controller and view: <br>
@Html.ActionLink("Home/ShowBook/?title=Crime%20and%20Punishment", "ShowBook", new { title = "Crime and Punishment" });
</p>
<p>
Use this link to test the AddBook controller and view: <br>
@Html.ActionLink("Home/AddBook", "AddBook");
</p>

